<app-base-page></app-base-page>>
<!-- Project Name: E-Portfolio
   File Name: aboutme.ejs
   Name: Vyoma Shukla
   Student id: 300989164 -->
   
   

   <div class="container">
     <div class="jumbotron">
         <h1 class="display-4" align="center">Vyoma Shukla</h1>
         <br>
         <img src="../../../assets/images/VyomaPic].jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:200px;height:200px" >
         
         <hr class="my-4">
         My name is  Vyoma Shukla i am in the last semester of my post graduation Diploma in the field of Software Engineering Technology. i have completed my 4 year under graduation in Bachelor of Technology with major in Information Technology. During my post Grad i have developed skills in the Programming. i have major interests in cloud computing. i'm good in interpersonal skills as i'm able to work in groups i have great communication skills, i am a team player as well as a team leader according to the situation.
            I am perfect for working in workplace environment. My working abilities speak fr my work. i am always ready for volunteer work. i am ready to help my co-workers. 
            I am a confident person and perfect for this job as my technical & inter-personal skills speak for itself.   
        <hr>
         To know further info about me 
         <a href="../../../assets/documents/Resume.pdf"><b>My Resume</b></a>
           
         
       </div>
   </div>



