<app-base-page></app-base-page>
<!-- Project Name: E-Portfolio
   File Name: index.ejs
   Name: Vyoma Shukla
      Student id: 300989164
-->


     <div class="container">
    <br><br><br>
           <h1 class="display-4" style="font-size:7vw" align="center"><b>Welcome </b></h1>
           <h5 align="center">To <br><h2 align="center">Vyoma's Portfolio</h2></h5><br>
           <p align="center" ><b>This website will provide you details about my Portfolio.
           </b><br>
            I am a Student at Centennial College in Program of Sofware Engineering. I have completed my graduation in Bachelor Of Tech. In Infromation Technology.
                  i am looking forward to built a career as <b>a Software Developer </b>
     </div>



 