<!-- Project Name: E-Portfolio
   File Name: project.ejs
   Name: Vyoma Shukla
  Student id: 300989164   -->
  

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Vyoma Shukla</h1>
        <p class="lead"><b> Project Info- </b> <br>
        
        This page will highlight my project which i accomplished during my education at Centennial College.</p>
        <hr class="my-4">
        
        <h4><b>1. Faculty scheduler</b></h4>
         This is done using ASP.net which is a scheduler for the faculty system. 
         <img src="../../../assets/images/Project1.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:600px;height:350px" ><br><br>
         <img src="../../../assets/images/Project2.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:600px;height:350px" >
          <br><br>
          <h4><b>2. In Process Project "Express-Portfolio" done using Node .js, javascript.</b></h4>
          <img src="../../../assets/images/CaptureP.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" >
         <br><br>

          <img src="../../../assets/images/CaptureP1.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" >
        
        
      </div>
  </div>



