<app-base-page></app-base-page>>
<!-- Project Name: E-Portfolio
   File Name: services.ejs
   Name:  Vyoma Shukla
  Student id: 300989164  -->
  

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Vyoma Shukla</h1>
        
        This page gives you information about the skills I offer.
        <hr class="my-4">
        
        
        
          <ol>               
          <li>The knowledge of Programming includes-C#, C, C++, Java, HTML/CSS, JavaScript, ASP.Net, PL/SQL.</li>
          <li>The knowledge of Networking includes-Basic knowledge of installation and PC configuration.</li>
          <li>The knowledge of Operating Systems includes-Windows XP Professional, Linux, Unix, MS DOS</li>
          <li>The knowledge of Applications inludes- Microsoft Office, Eclipse, Visual Studio, Visual Studio Code.</li>
          </ol>
        
      </div>
  </div>



